<!DOCTYPE html>
<html>
<head>
	<title>공</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="outer">
		<div align="center" class="notice">
			<h1 style="margin-top: 80px; margin-bottom: 40px;">공지</h1>
			<p>1. 성서강해&주제강의 및 선택특강은 금식수련회 가등록한 지체들만 신청해주세요.</p>
			<p>2. 12/22일 강의신청 마감됩니다</p>
			<p>3. 성서강해&주제강의 중 "행복하게 잘 지내는 법" 은 1학년만 신청가능합니다.</p>
		</div>
		<div class="content" align="center" style="margin-top: 80px;">
			<a href="/" style="font-size: 24px;">신청하러 가기</a>
		</div>
	</div>

</body>